* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* background: linear-gradient(rgb(197, 209, 220),rgb(197, 209, 220),rgb(197, 209, 220),rgb(167, 167, 239),rgb(167, 167, 239),rgb(167, 167, 239),rgb(167, 167, 239),rgb(167, 167, 239),rgb(1, 3, 118),rgb(21, 3, 121),rgb(21,3,121),rgb(21,3,121),rgb(21,3,121),rgb(188, 205, 224),rgb(200, 226, 244),rgb(200, 226, 244));  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 200px;
    background-color: #228997;
    color: #fff;
    transform: 3s;
    height: 100em;
    display: flexbox;
}

.container {
    /* background-color: rgb(3, 2, 8); */
    height: 62px;
    margin-top: 13px;
    margin-bottom: -77;
    /* padding: 30px auto; */
}

.nav ul {
    list-style: none;
    margin-top: 55px;
    margin-right: 50px;

}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

.mylogo h2 {
    font-family: cursive;
    font-size: 38px;
    color: #fff;
    margin-top: 53px;
    margin-left: 46px;
    margin-bottom: 23px;
}

/* #main-name
{
   
    padding: 10px;
    margin: 5x;
    border-radius: 40px;
} */
header {
    padding: 57px 0px;
    padding-top: 0.5px;
}

/* .line-nav{
    margin: 0;
    padding: 0;
    margin-top: 7px;
    background-color:black ;
    height: 2px;
    width: 100%;
} */
.nav-row {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header .nav ul li {
    opacity: 80%;
    border: 1px solid rgb(137, 195, 233);
    font-size: xx-small;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 26px;
    padding-right: 23px;
    margin-top: 11px;
    margin-bottom: 35px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 34px;
    box-shadow: 2px 1px 7px rgba(229, 223, 223, 0.5);


}

.header .nav ul li:hover {
    background-color: rgb(233, 236, 238);
    opacity: 100%;
    border: 1px solid rgb(0, 6, 9);
    text-align: justify;
    border: solid 1px;
    transition: .5s;
    padding: 2px 30px 2px 30px;


}

.header .nav ul li a {
    display: block;
    color: #faf9f9;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 0px;
    transform: all 0.5s, ease;
}

.header .nav ul li a:hover {
    color: black;

}

.home {
    color: rgb(15, 1, 1);
    display: inline-block;
    align-items: center;
}

.home-row {
    /* background: url('/Images/bg5.jpeg'); */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col1 {
    position: relative;
    flex-basis: 40%;
    margin-left: 10%;
}

#aname {

    text-shadow: 12px 8px 20px rgba(12, 1, 1, 2);

}

.home-row .col1 h3 {
    font-size: 25px;
    font-weight: 100;
    margin: 20px 0px 10px;
}

.home-row .col1 h1 {
    font-size: 54px;

}

.col1 a {
    text-decoration: none;
    width: 110px;
    padding: 2px 18px 6px 18px;
    outline: none;
    color: #ffffff;
    background-color: #01070c;
    cursor: pointer;
    position: relative;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;


}

/* .col2{
    display: flex;
    flex-wrap: wrap;
    
     
    justify-content: center;
    align-items: center;
    position: relative;
}
.col2 .my-image{
    justify-content: center;
    width: 30%;
    float: left;
    align-items: center;
    margin-bottom: 40px;
    background-position:  center;
}
 */
.col2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col2 img {
    width: 500px;
    margin-right: 60px;
    margin-top: 20px;
    border: 1px solid rgb(231, 225, 225);
    border-radius: 50%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.col2 img:hover {
    box-shadow: 5px 5px 50px rgba(12, 1, 1, 2);
}

/*/ cards*/

.heading {
    text-align: center;
}

.card h1 {
    font-size: 20px;
    margin: 5px;
}

.portfolio {
    /* background: url('/Images/bgf1.jpg'); */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    width: 290px;
    height: 425px;
    margin: 20px;
    position: relative;
    margin: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

}

.card H1 {
    text-align: center;
}

.card p {
    margin: 5px;
}

.card p ol {
    margin: 10px;
}

.crad-btn {
    margin-top: 100x;
    text-align: center;
    align-items: center;
    margin: 9px;
}

.crad-btn a {
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px 19px;
    margin: 5px;
    border-radius: 3px;
}

.card-img img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
}

.card:hover {
    /* background-color:rgba(0, 0, 0, 0.296) ; */

    background: linear-gradient(rgb(55, 135, 234), rgb(180, 180, 239));
    border: solid 1px;
    color: rgb(252, 249, 249);
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(12, 1, 1, 0.899);
    width: 292px;
    height: 427px;
}


/* skill section */


.heading-m {
    position: relative;
    font-size: 20px;
    text-align: center;
    /* margin: 70px; */
    padding: 2%;
    position: relative;
}

.heading-m:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: rgb(1, 1, 9);
}

.skill-container {
    color: rgb(252, 247, 247);
    /* background-color: rgb(58, 52, 52); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;

}

.skill-container h2 {
    padding-top: 10px;
}

.skill-container p {
    font-weight: 100;
}

.skill-box:hover {
    /* background:linear-gradient(#fff,rgba(20, 79, 239, 0.585)); */
    /* background-color:linear-gradient(#f0f,#f00); */
    /* background-color: #fff; */
    width: 302px;
    height: 293px;
    margin: 40px;
    text-align: Center;
    overflow: hidden;
    opacity: 200%;
    transition: .5s;
    box-shadow: 5px 5px 20px rgba(12, 1, 1, 0.899);
    /* width: 350px;
height: 300px; */
}

/*for cards */
.skill-box {
    padding: 8px;
    width: 300px;
    height: 291px;
    opacity: 100%;
    position: relative;
    margin: 40px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.09);
    overflow: hidden;
    /* display: flex;
     justify-content: center; 
    align-items: center; */
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(255, 255, 255, 0.5);

}

.skill-title {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 20px;
}

.skill-box p {
    margin: 5px;
}

.skill-img {
    width: 90px;
    height: 90px;
    position: relative;
    background-color: #fff;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img img {
    width: 60px;
}

.skill-title h3 {
    color: #fff;
    margin: 0.5px;
}

/* .skill-box:hover{
    border: solid;
    background-color: #f1f6f9;
    color: rgb(30, 9, 9);
    transition: .4s;
    width: 350px;
} */


/* profiles section */
.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.profile-card img {
    opacity: 70%;
    width: 270px;
    margin: 20px;
}

.profile-card img:hover {
    opacity: 100%;
    width: 295px;
    border-radius: 50%;
    box-shadow: 0px 7px 10px black;
}


.contact-body {
    margin: 70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.contact {
    width: 100%;
    padding: 60px 60px 40px 40px;
    border: 2px solid;
    border-radius: 10px;
    justify-content: center;
    text-align: center;

}

.contact .contact-box {
    justify-content: center;
    align-items: center;

}

/* .contact-box .left::before{
    content: '';
    position: absolute;
    height: 70%;
    background-color: blue;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
} */
.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left .info {
    margin: 44px;
    text-align: center;
    padding-left: 30px;
    flex-direction: row;
}

.left .info i {
    font-size: 30px;
    color: rgb(50, 50, 55);
    margin-top: 10px;
}

.left .main-topic {
    font-size: 18px;
    font-weight: 50px;
    color: #000;
}

.left .info .text1 {
    font-size: 14px;
}

.contact-box .right {
    width: 75%;
    margin: auto;

}

.right form {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.right .msg {
    margin-top: 60px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(1, 1, 7);
}

.right .inpt input {
    height: 50px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 18px 0px;
    border: 2px solid;
    font-size: 16px;
    background-color: rgb(243, 234, 234);
    border-radius: 6px;
    padding: 0px 15px;
    resize: none;
    margin-top: 6px;
}

.right .inpt {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

#page5 {

    display: block;
    /* border: 1px solid; */
    width: 25%;
    margin: auto;
}

.right {
    margin: opx;
}

.right .inpt textarea { 
    height: 100%;
    width: 80%;
    border: 2px solid;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 234, 234);
    border-radius: 6px;
    padding: 0px 15px;
    resize: none;
    margin-top: 6px;
}

.send-btn {
    text-decoration: none;
    color: white;
    background: black;
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 7px;
}

.right .inpt textarea {
    min-height: 80px;
}

/* .right .inpt-btn input{
    position:  right;
    text-align: left;
    width: 20%;
    height: 20px;
    color: rgb(246, 245, 250);
    font-size: 18%;
    border: none;
    border-radius: 6px;
    background-color: rgb(10, 1, 1);
    padding-left: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 8px 12px rgba(2, 4, 28, 0.2);
} */
/* .right .inpt-btn input:hover{
    background-color: rgb(145, 190, 218);
    border: 3px solid black;
    width: 20%;
} */



#suggestion {
    padding-top: 10px;
}


.profiles {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: justify;
    display: flex;
    flex-wrap: wrap;
    color: #000;
    transition: .5s;
}

.profiles .p-card {
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px #000;
    width: 300px;
    opacity: 0.5;
    position: relative;
    height: 180px;
    margin: 90px 50px;
    border-radius: 10px;
    transition: .5s;
}

.profiles .p-card .p-img {

    transition: .3s;
    border-radius: 10px;
    position: relative;
    transform: translateY(-80px);
}

.p-img img {
    width: 75%;
    border: 3px solid black;
    /* border-radius: 5px; */
    transition: .2s;
}

.p-text {
    opacity: 0;
    padding: 8px;
    transition: .5s;
    transform: translateY(-60px);
}

.p-text p {
    margin: 12px;
}


.p-text a {
    text-decoration: none;
    color: white;
    background: black;
    /* padding: 2px 10px 2px 2px; */
    /* margin: 5px; */
    padding: 4px 7px 7px 7px;
    border-radius: 20px;
    text-align: center;
}

.p-card:hover {
    height: 220px;
    opacity: 1;
    /* transform: 0.3s; */
}

.p-card:hover>.p-text {
    opacity: 1;
    /* transform: 0.3s; */
}

.p-card:hover>.p-img img {
    width: 60%;
    border-radius: 50%;
    /* transform: 0.3s; */
}

/* footer css */

#fdiscription {
    display: flex;
     padding: 15px;
    justify-content: center;
}

.footer {
    width: 91%;
    height: 70px;
    border: 1px solid;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.727);
    position: relative;
}

/* contact {
    width: 100%;
    padding: 60px 60px 40px 40px;
    border: 2px solid;
    border-radius: 10px;
    justify-content: center;
    text-align: center; */
.flogo {
    align-items: center;
    
    margin: 18px 8px;
    width: 30px;
    height: 30px;
}
.flogo:hover {
    align-items: center;
    margin: 10px 8px;
    width: 40px;
    height: 40px;
}
#lastname{
    display: flex;
     padding: 15px;
    justify-content: center;
    margin-bottom: 100px;

}







.topnav {
    width: 100%;
    overflow: hidden;
    background-color: rgba(1, 12, 14, 0.633);

}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgba(243, 246, 246, 0.603);
    border-radius: 50px;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.toppp{
    position: fixed;
}

 @media  screen and (max-width: 509px) {
    .right .inpt textarea {
        font-size: 13px;
} 
    .right .inpt input{
       font-size: 13px;
   }

 }
@media  screen and (max-width: 400px) {
    #yt , #chss {
        display: none;
}
.contact p {
    display: flex;
    text-align:center;
    font-size: 12px;
}

element.style {
}
.right .msg{
    display: flex;
    text-align: center;
    font-size: 17px;
}
.right .inpt textarea ,.inputright .inpt {
    font-size: 8px;
} 
}

@media screen and (max-width: 780px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 780px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


@media only screen and (max-width: 950px) {

    .right .inpt input,
    .right .inpt textarea {
        width: 100%;
    }

    .col2 img {
        margin-right: 20px;
        width: 60%;
        position: relative;
        align-items: center;
    }

}

@media only screen and (max-width:1120px) {
    .home-row {
        justify-content: center;
        font-size: 13px;

    }

    .col2 {
        margin-top: 10px;
        justify-content: center;
    }


}

@media only screen and (max-width: 750px) {
    .col2 img {
        width: 60%;
    }

    .skill-container {
        display: flex;
        padding: 20px;
        font-size: 18px;

    }

    .nav-row nav {
        overflow: hidden;
    }

    .contact-box .left {
        width: 100%;
    }

    .col1 button {
        margin: 5px;
    }

    .right form inpt {
        margin: 9px;
    }


}